.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.activelink{
  color:black;
  border-bottom:1px solid black;

 
}
.link{text-decoration:none;
}
.link:focus{
  color:rgb(230, 167, 230)
}
.inputdiv input[type="file" i]::-webkit-file-upload-button{

  justify-content: center;
  align-items:center;
  width:auto;
  margin-top: 30px;
  font-size: x-large;
  background-color: rgb(141, 100, 146);
  color:white;
  border:0px;
  cursor:pointer
}
.inputdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
